<h1><%= @board.name %></h1>

<h2>Lists</h2>

<% @board.lists.each do |list| %>
  <div>
    <h3><%= list.name %></h3>

    <% list.cards.each do |card| %>
      <p>- <%= card.title %></p>
    <% end %>
  </div>
<% end %>

<h2>New List</h2>

<%= form_with(model: [@board, List.new]) do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "List name" %>
  </div>

  <div>
    <%= form.submit "Create List" %>
  </div>
<% end %>
