<h1><%= @board.name %></h1>

<h2>Lists</h2>

<% @board.lists.each do |list| %>
  <h3><%= list.name %></h3>

  <% list.cards.each do |card| %>
    <p>- <%= card.title %></p>
  <% end %>

  <h4>New Card</h4>

  <%= form_with(model: [@board, list, Card.new]) do |form| %>
    <div>
      <%= form.text_field :title, placeholder: "Card title" %>
    </div>

    <div>
      <%= form.submit "Add Card" %>
    </div>
  <% end %>

<% end %>